
@{
    ViewData["Title"] = "Aktiviteler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img class="rsImg" src="~/images/sahne.jpg"
     style="width: 800px; height: 350px; margin-left: 32px; margin-top: 4px;">

<div id="tab1" class="tabContent"
     style='
         direction:ltr;
         font-family: Verdana;
         font-size: 1em;
         text-align: left;
         line-height: normal;
         background: none repeat scroll 0 0 #fff;
         float: left;
         position: relative;
         padding: 10px;
         box-shadow: 0 0 3px rgba(50,50,50,.2);
         color: #434343;
         '>


    <ul class="venueItem">

        <li 
            style='
         
    line-height: normal;
    color: #434343;
    list-style: none;
    list-style-image: none;
    display: block;
    float: left;
    width: 100%;
    background-color: #e3e3e3;
    margin-top: 0;
         '
            >
            <div class="floorPlan">

                <div style="display: none">
                    <div id="floorplan1">

                    </div>
                </div>
            </div>
            <div class="wrapperHotelImg">
                <div class="colorbox-items">
                    

                    <div style="display: none">
                        <div id="venueitem1">

                            <div class="royalSlider rsDefault fwImage col span_4 jumDefaultStyle captionsCenter spaLightBox">
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapperHotelDetails">
                <h3>
                    <a id="ctl00_MainSectionRegion_rptVenueList_ctl01_hypHotelLink" class="aspNetDisabled">MINI CLUB</a>
                </h3>
                <p>Çocuk kulübümüzün en temel amacı çocuklarımızın yüzünden gülümsemeyi eksiltmemektir. Minik misafirlerimizin tatillerini oyun ve becerilerini geliştiren aktivitelerle renklendirip hayatları boyunca önemli olacak çevre bilinci ve doğa sevgisini öğretiyoruz. Deneyimli ve eğitimli kadromuz ile çocuklarınızla yakından ilgilenirken siz de tatilinizin tadını çıkarın.</p>
                <div>

                </div>

            </div>
        </li>



        <li>
            <div class="floorPlan">

                <div style="display: none">
                    <div id="floorplan3">

                    </div>
                </div>
            </div>
            <div class="wrapperHotelImg">
                <div class="colorbox-items">
                   

                    <div style="display: none">
                        <div id="venueitem3">

                            <div class="royalSlider rsDefault fwImage col span_4 jumDefaultStyle captionsCenter spaLightBox">
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapperHotelDetails">
                <h3>
                    <a id="ctl00_MainSectionRegion_rptVenueList_ctl03_hypHotelLink" class="aspNetDisabled">CANLI MÜZİK</a>
                </h3>
                <p>Kulaklarınızın pasını silecek canlı müzik etkinliğimiz ile eğlencenin tadına varın. Haftanın belli günlerinde, gitar eşliğinde 21.00 – 23.00 saatleri arasında Lobby Bar’ımızda keyifli saatler geçirin. Hatta gitaristimizin çaldığı şarkılara dilerseniz eşlik edebilir, istek şarkılarınızla unutulmaz müzik ziyafeti yaşaya bilirsiniz.</p>
                <div>
                </div>

            </div>
        </li>

    </ul>

</div>

