
@{
    ViewData["Title"] = "Kurumsal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section role="aboutJumeirah">
    <div class="container_16">
        <div class="grid_16">
            <div class="asideCol"  
                 style='
                -webkit-text-size-adjust: 100%;
                direction: ltr;
                font-family: Verdana;
                color: #999;
                font-size: 1em;
                text-align: left;
                line-height: normal;
                text-transform: uppercase;
                margin-top: 24px;
         '
                 >
                <aside role="corporate">

                    <div class="expList">

                        <ul id="expList">

                            <li class="lev-0">
                                <a id="ctl00_MainSectionRegion_ctl00_rptLevel0_ctl01_hyplevel0" title="Hakkımızda" href="kurumsal-hakkimizda.html" target="_self">HAKKIMIZDA</a>

                            </li>


                            <li class="lev-0">
                                <a id="ctl00_MainSectionRegion_ctl00_rptLevel0_ctl02_hyplevel0" title="Misyon" href="sirket-bilgileri.html" target="_self">Şirket Bilgilerimiz</a>

                            </li>

                            <li class="lev-0">
                                <a id="ctl00_MainSectionRegion_ctl00_rptLevel0_ctl02_hyplevel0" title="Misyon" href="kurumsal-misyon.html" target="_self">MİSYON</a>

                            </li>

                            <li class="lev-0">
                                <a id="ctl00_MainSectionRegion_ctl00_rptLevel0_ctl03_hyplevel0" title="Vizyon" href="kurumsal-vizyon.html" target="_self">VİZYON</a>


                            </li>

                           

                            <li class="lev-0">
                                <a id="ctl00_MainSectionRegion_ctl00_rptLevel0_ctl05_hyplevel0" title="Kişisel Veri Saklama ve İmha Politikası" href="kvkkbasvuruformu.html" target="_self">KVKK Başvuru Formu</a>



                            </li>


                            <li class="lev-0">
                                <a id="ctl00_MainSectionRegion_ctl00_rptLevel0_ctl05_hyplevel0" title="PANDEMİ EYLEM PLANI" href="eylemplani.html" target="_self" class="active-lev-0">PANDEMİ EYLEM PLANI</a>



                            </li>

                            <li class="lev-0">
                                <a id="ctl00_MainSectionRegion_ctl00_rptLevel0_ctl05_hyplevel0" title="Covid-19 Tedbirleri" href="kurumsal-pandemi.html" target="_self">COVID-19 TEDBİRLERİ</a>



                            </li>

                            <li class="lev-0">
                                <a id="ctl00_MainSectionRegion_ctl00_rptLevel0_ctl05_hyplevel0" title="ÇEREZ POLİTİKASI" href="cerezpolitikasi.html" target="_self">ÇEREZ VE GİZLİLİK POLİTİKASI</a>



                            </li>

                            <li class="lev-0">
                                <a id="ctl00_MainSectionRegion_ctl00_rptLevel0_ctl05_hyplevel0" title="KALİTE POLİTİKASİ" href="kalitepolitikasi.html" target="_self">KALİTE POLİTİKAMIZ</a>



                            </li>

                            <li class="lev-0">
                                <a id="ctl00_MainSectionRegion_ctl00_rptLevel0_ctl05_hyplevel0" title="ÇEVRE FAALİYETLERİMİZ " href="surdurulebilir-cevre-faaliyetleri.html" target="_self">ÇEVRE FAALİYETLERİMİZ </a>



                            </li>

                            <li class="lev-0">
                                <a id="ctl00_MainSectionRegion_ctl00_rptLevel0_ctl05_hyplevel0" title="ÇEVRE FAALİYETLERİMİZ " href="kurumsal-turuncu-bayrak.html" target="_self">TURUNCU BAYRAK</a>



                            </li>

                            <li class="lev-0">
                                <a id="ctl00_MainSectionRegion_ctl00_rptLevel0_ctl04_hyplevel0" title="IK" href="kurumsal-ik.html" target="_self">IK</a>

                            </li>




                            <li class="lev-0">
                                <a id="ctl00_MainSectionRegion_ctl00_rptLevel0_ctl05_hyplevel0" title="Tarihçe" href="kurumsal-tarihce.html" target="_self">TARİHÇE</a>



                            </li>


                            <li class="lev-0">
                                <a id="ctl00_MainSectionRegion_ctl00_rptLevel0_ctl06_hyplevel0" title="İletişim" href="kurumsal-iletisim.html" target="_self">İLETİŞİM</a>



                            </li>

                            <li class="lev-0">
                                <a id="ctl00_MainSectionRegion_ctl00_rptLevel0_ctl07_hyplevel0" title="Ulaşım" href="kurumsal-ulasim.html" target="_self">ULAŞIM</a>

                            </li>


                        </ul>



                    </div>
                </aside>
            </div>								<br>
            <div class="mainCol"
                 
                 style='
         
        -webkit-text-size-adjust: 100%;
    direction: ltr;
    font-family: Verdana;
    color: #999;
    font-size: 1em;
    text-align: left;
    line-height: normal;
    box-shadow: 0 0 3px rgba(50,50,50,.2);
    width: 630px;
    padding: 0 10px 10px;
    float: right;
    background: #fff;
         '
                 >
                <div class="genericRightContainer">
                    <h2 data-epi-property-name="MainShortTitle">DEĞERLİ MİSAFİRİMİZ,</h2>
                    <div class="corporateContent">
                        <div>
                            <p>
                                Çeşme yarımadasının ayrıcalıklı bir koyunda yer alan GRİ Hotel SPA &amp; Resort'e hoş geldiniz. Gri Hotel ailesi olarak, sizi otelimizde ağırlama ayrıcalığına sahip olduğumuz için mutluluk duymaktayız.<br><br>Gri Hotel SPA &amp; Resort, Çeşme'ye 4 km, Alaçatı'ya 5 km, İzmir'e 75 km, Adnan Menderes Havalimanı'na 90 km mesafededir.

                                <br><br>Otelimiz, konforunuzu ön planda tutarak dekore edilmiş odaları, SPA &amp; merkezi, thalasso havuzları ile tatil boyunca yalnızca sizin değil, çocuklarınızın da mutluluğuna ev sahipliği yapacaktır. Küçük misafirlerimiz için Mini Club ve Aqua Toy City, bir tatilden daha fazlasını yaşatmayı vaat etmektedir.<br>
                                GRI Hotel SPA &amp; Thermal Resort, son teknoloji ile donatılmış, şık ve konforlu toplantı salonları ile iş dünyasının da beklenti ve ihtiyaçlarını en iyi şekilde karşılamaktadır.
                                <br><br>Konuklarına en özel tatil deneyimini yaşatmak için geniş bir hizmet yelpazesine sahip olan GRI Hotel; düğün ve balayınızı, kusursuz bir planlama ile sizin ve sevenlerinizin unutamayacağı bir peri masalına dönüştürecektir.
                                <br><br>Profesyonel ekibimiz konaklamanızı unutulmaz ve keyifli kılmak için size yardımcı olmaya daima hazırdır. Size önerimiz, sadece tatilinizin keyfini çıkarmanızdır.
                            </p>
                        </div>

                        <div class="downloadButtonArea">

                            <ul>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
